{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{% block title %} Login {% endblock %}
{% load crispy_forms_tags%}
{% block navbar%} {% endblock %}
{% block content %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/topnav.css' %}">

<section class="form my-4 mx-5">
    <div class="container">
        <div class="row no-pad">
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3"> must-student project management system</h1>
                <h4> sign into your student account </h4>
 
 
                <form method="post">
                    {% csrf_token%}
                    <!-- {{form|crispy}} -->
                    <label class="lead" style="font-size: 17px;"> Username</label><br>
                     {% render_field userForm.username class="form-control" placeholder="Username" %}
                     {% if userForm.username.errors %}
                            {{ userForm.username.errors }}
                      {% endif %}

                      <br>

                    <label class="lead" style="font-size: 17px;"> Email</label><br>
                    {% render_field userForm.email class="form-control" placeholder="email" %}
                    {% if userForm.username.errors %}
                            {{ userForm.email.errors }}
                        {% endif %}      

                     <br>

                    <label class="lead" style="font-size: 17px;"> password</label><br>
                    {% render_field userForm.password class="form-control" placeholder="password" type="password"%}
                    {% if userForm.username.errors %}
                            {{ userForm.password.errors }}
                            {% endif %}  

                   

                   <p> Have an account? Create one <a href="{%url 'signin'%}"> Here</a></p>
                    <button type="submit" class="btn btn-success"> Register</button>
                </form> 

             </div>
            <div class="col-lg-5">
                <!-- <img src="images/travv.jpg" class="img-fluid" alt=""> -->
                

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'images/illus2.webp'%}" class="d-block w-100" alt="...">
                      </div>
                    
                      <div class="carousel-item">
                        <img src="{% static 'images/illus3.webp' %}" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

            </div>
           
        </div>
    </div>
</section>


{% endblock %}