{%extends 'partials/base.html'%}
{%block title%} add-group-admin {%endblock%}
{%block content%}
{%load static%}
{% include 'partials/topnav.html'%}
<div class="container-mod">

    
    {% include 'partials/sidebar.html'%}  
     <div class="main">
    

    <div class="row">
        <div class="col">
            <p style="font-weight:bold; margin-top:10px;""> Students</p>
            {% for student in students %}
            <p> {{student}}</p>
            <a style="border:1px solid black; padding-left:100px;" href="{% url 'add-group-admin' student.id %}"> Add</a>

            {%endfor%}

        </div>
        <div class="col">
            <p style="font-weight:bold; margin-top:10px;"> Group Admins</p>
            {% for admin in groupadmins %}
             {{admin}} <a style="border:1px solid black; padding-left:100px;" href="">remove</a>
           {%endfor%}
        </div>
    </div>
</div>
    

     
</div>

{%endblock%}