{% extends 'partials/base.html' %}
{% block title %}dashboardpage{% endblock %}
{% block content %}
{%load static%}
<style>
  .column {
    float: left;
    width: 30%;
    background-color: rgb(133, 247, 247);
    margin:0 15px;
    padding: 10px;
    border-radius: 15px;
    
  }

  
  
  
  /* Clear floats after the columns */
    .row-dashbord:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .column-inside {
    float: left;
   
    background-color: rgb(133, 247, 247);
    margin:0 15px;
    padding: 10px;
    border-radius: 15px;
    
  }

  
  
  
  /* Clear floats after the columns */
    .row-inside:after {
    content: "";
    display: table;
    clear: both;
    
  }

  .progress-bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  
  .progress-bar {
    width: 100%;
    height: 24px;
    background-color: #f2f2f2;
    border-radius: 8px;
    position: relative;
    margin-bottom: 12px;
  }
  
  .progress-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 8px;
    width: 0%;
    transition: width 0.5s ease-in-out;
  }
  .left {
    text-align: left
}


.right {
    text-align: right;
}
</style>

{% include 'partials/topnav.html'%}
<div class="container-mod">
{% include 'partials/sidebar.html'%}

<div class="main">
<div class="row-dashboard">
  <div class="column">
    <div class="row-inide">
      <div class="column-inside">
  <div class="card" style="width: 18rem;">
      <img src="{%static 'images/books_stack.png'%}" class="card-img-top" alt="...">
      <div style="padding:4px;">
        <h5 class="card-title" style="font-weight:bold; color:#fff;">Materials</h5>
        <p class="card-text">Explore and Learn From Previous works uploaded by your peers </p>
        <a href="#" class="btn btn-primary" style="margin-right: 10px;">Materials</a>
      </div>
  </div>
    </div>
    <div class="column-inside">
    <div class="card" style="width: 18rem;">
      <img src="{%static 'images/activity.png'%}" class="card-img-top" alt="...">
      <div style="padding:4px;">
        <h5 class="card-title" style="font-weight:bold; color:#fff;">Activities</h5>
        <p class="card-text">Check all your activities here </p>
        <a href="#" class="btn btn-primary">Check activity</a>
      </div>
      </div>
    </div>
    </div>

  </div>
  {%if user.users%}
  {%else%}
  <div class="column">
    {% for g in allgroups %}
    <a href="{% url 'set-session' g.name %}">{{ g.name }}</a>
    {% endfor %}
  </div>
  {%endif%}
  
  {%if user.lecturers%}
  {%else%}
  <div class="column">
    <p style="font-style: bold;">Groups</p>
       
     <p class="left">{{studentgroup.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger right" type="submit">leave</button> 
    </p> 
  </div>
  {%endif%}
  <div class="column">
      <strong style="margin-left: 10px; font-size:17px;">Progress </strong>
      <h5 style="margin-left: 10px; font-size:15px;margin-top:10px;">Project progress </h5>
      

      <div class="progress-bars">
        <div class="progress-bar">
          <div class="progress-bar-fill"></div>
          {% if user.users %}
          <div class="progress-bar-text">{{ studentgroup.progress }}%</div>
          {% else %}
          <div class="progress-bar-text">{{ g.progress }}%</div>
          {% endif %}
        </div>
      
      </div>
      
     
     

      {%if user.users%}
      {%else%}
      <div class="inputContainer">
        <form method="POST" action="{% url 'progress' %}">
          <select name="group">
            {% for g in groups %}
            <option>{{ g }}</option>
            {% endfor %}
          </select>
         
        <div>
          <h3 style="margin-left: 10px; font-size:17px;" >value</h3>
          <input type="number" name="progress">
        </div>

      </div>
      <button type="submit">submit</button>
    </form>
    {%endif%}
      

      
     
     
     
    <strong style="margin-left: 10px; font-size:17px; margin-top:30px;">Inbox </strong>
    <div class="col-content bg-light">
    {% for post in posts %}
    <div class="header" style="margin-left: 10px;">
      <img style="margin-top: 10px;" src="{% static 'images/illus2.webp' %}">
      <strong>
        {{ post.author.username }}
      </strong>
    </div>
     <div class="body d-flex flex-row justify-content-between">
       <div>
         <h5 class="card-title" style="margin-left: 10px; font-size:17px;"><strong>
          {{post.title}}
         </strong>
          
         </h5>
         <p style="margin-left: 10px; font-size:15px;">{{post.description}}</p>
       </div>
       <div>
        {% if user == post.author or perms.base.delete_post%}
          <form method="post">
            {%csrf_token%}
            <button type="submit" class="btn btn-danger" 
            style="margin-right: 10px;"
            name="post-id" value="{{post.id}}">Delete</button>
          </form>
    
        {%endif%}
        {% if user.is_staff%}
        <form method="post">
          {%csrf_token%}
          <button type="submit" class="btn btn-warning" name="user-id" value="{{post.author.id}}">Ban User</button>
        </form>
        {% endif %}
       </div>  
       </div>
       <div class="text-muted" style="margin-left: 10px; font-size:15px;">{{post.created_at}}</div>
       <div class="space">

       </div>
       {% empty %}
       <p> No post yet</p>
       
      
    {% endfor %}

    
    </div>
 
  </div>

</div>


</div>








<script> 
  const bars = document.querySelectorAll('.progress-bar');

  // Get the progress bar texts
  const texts = document.querySelectorAll('.progress-bar-text');

  // Update the progress bars and texts based on user input
  function updateProgressBar(barIndex) {
    const input = document.getElementById("progress-input-" + barIndex);
    const percentage = input.value;

    const bar = bars[barIndex - 1];
    bar.querySelector('.progress-bar-fill').style.width = percentage + '%';

    const text = texts[barIndex - 1];
    text.innerHTML = percentage + '%';
  }
   
</script>




 

{% endblock content%}



