{% extends 'partials/main.html'%}


{% load static%}
{% block content %}
{% load static %}
{% include 'partials/topnav.html' %}

<div class="container-mod">
{% include 'partials/sidebar.html' %}
<div class="container">
<div class="header-bar">
    <div>
        <!-- <h1 style="font-size: 30px;"> Hea, {{request.user|title}} </h1> -->
        <h3 style="margin: 0; font-size: 20px; color:rgb(85, 83, 83);"> You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>
    </div>

 <!-- {% if request.user.is_authenticated %}
 <a href="{%url 'logout' %}">Logout</a>
  
{% else %}
<a href="{%url 'login'%}">Login</a>

{% endif %} -->

</div>

<div id="search-add-wrapper">
<form method="GET" style="margin-top:20px;display: flex;">
    <input type="text" name="search-area" value="{{search_input}}">
    <input class="button" type="submit" value="search">
</form>
<a id="add-link" href="{% url 'task-create'%}">&#x2b;</a>
</div>


<div class="task-items-wrapper">
   {% for task in tasks %}
        <div class="task-wrapper">
            {%if task.complete %}
               <div class="task-title">
                  <div class="task-complete-icon"></div>
                  <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
               </div>
               <a class="delete-link" href="{%url 'task-delete' task.id%}">&#215;</a>
               <hr>
            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'task-update' task.id %}">{{task}}</a>
             </div>
             <a class="delete-link" href="{%url 'task-delete' task.id%}" >&#215;</a>
            {% endif %}
        </div>
   {% empty %} 
   <h3> No item in the list</h3>
   
   {% endfor %}
</div>
</div>

</div>


{% endblock content%}